<server>

    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true" inactivityTimeout="60s"/>
    </httpEndpoint>


    <application location="HelloWorldServlet.war" id="HelloWorldISE"
    	name="HelloWorldISE" type="war" context-root="/HelloWorldISE">
    	<application-bnd>
    		<security-role name="defaultuser">
    			<special-subject type="EVERYONE" />
    		</security-role>
    	</application-bnd>
    </application>
</server>
